# Declare files that will always have CRLF line endings on checkout.
definition.csv text eol=crlf

# --- YAML files: enforce UTF-8 with BOM and CRLF line endings ---
*.yml  text working-tree-encoding=UTF-8-BOM eol=crlf

# --- TXT files: enforce CRLF line endings ---
*.txt  text working-tree-encoding=UTF8 eol=crlf